@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.625rem;
        --background: 0.145 0 0;
        --foreground: 0.985 0 0;
        --card: 0.205 0 0;
        --card-foreground: 0.985 0 0;
        --popover: 0.269 0 0;
        --popover-foreground: 0.985 0 0;
        --primary: 0.704 0.191 22.216;
        --primary-foreground: 0.985 0 0;
        --secondary: 0.269 0 0;
        --secondary-foreground: 0.985 0 0;
        --muted: 0.269 0 0;
        --muted-foreground: 0.708 0 0;
        --accent: 0.371 0 0;
        --accent-foreground: 0.985 0 0;
        --destructive: 0.577 0.245 27.325;
        --destructive-foreground: 0.985 0 0;
        --border: 1 0 0 / 10%;
        --input: 1 0 0 / 15%;
        --ring: 0.704 0.191 22.216;
        --chart-1: 0.704 0.191 22.216;
        --chart-2: 0.828 0.189 84.429;
        --chart-3: 0.769 0.188 70.08;
        --chart-4: 0.627 0.265 303.9;
        --chart-5: 0.645 0.246 16.439;
        --sidebar: 0.205 0 0;
        --sidebar-foreground: 0.985 0 0;
        --sidebar-primary: 0.704 0.191 22.216;
        --sidebar-primary-foreground: 0.985 0 0;
        --sidebar-accent: 0.269 0 0;
        --sidebar-accent-foreground: 0.985 0 0;
        --sidebar-border: 1 0 0 / 10%;
        --sidebar-ring: 0.439 0 0;
    }

    .dark {
        --background: 0.145 0 0;
        --foreground: 0.985 0 0;
        --card: 0.205 0 0;
        --card-foreground: 0.985 0 0;
        --popover: 0.269 0 0;
        --popover-foreground: 0.985 0 0;
        --primary: 0.704 0.191 22.216;
        --primary-foreground: 0.985 0 0;
        --secondary: 0.269 0 0;
        --secondary-foreground: 0.985 0 0;
        --muted: 0.269 0 0;
        --muted-foreground: 0.708 0 0;
        --accent: 0.371 0 0;
        --accent-foreground: 0.985 0 0;
        --destructive: 0.577 0.245 27.325;
        --destructive-foreground: 0.985 0 0;
        --border: 1 0 0 / 10%;
        --input: 1 0 0 / 15%;
        --ring: 0.704 0.191 22.216;
        --chart-1: 0.704 0.191 22.216;
        --chart-2: 0.828 0.189 84.429;
        --chart-3: 0.769 0.188 70.08;
        --chart-4: 0.627 0.265 303.9;
        --chart-5: 0.645 0.246 16.439;
        --sidebar: 0.205 0 0;
        --sidebar-foreground: 0.985 0 0;
        --sidebar-primary: 0.704 0.191 22.216;
        --sidebar-primary-foreground: 0.985 0 0;
        --sidebar-accent: 0.269 0 0;
        --sidebar-accent-foreground: 0.985 0 0;
        --sidebar-border: 1 0 0 / 10%;
        --sidebar-ring: 0.439 0 0;
    }

    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
    }
}
